<!doctype html>
<link rel="stylesheet" href="../static/index.css">
<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
<title>Lichter</title>


<h1>Lichter</h1>
<form method="post" action="/">
    <table>
    {% for group_list in switches%}
        {% for switch in group_list%}
            <tr>
                <td class="bulb">
                    {% if switch.enabled %}<img src="../static/bulb_on.svg"/>{% elif not switch.enabled %}
                        <img src="../static/bulb_off.svg"/>{% endif %}
                </td>
                <td class="text">
                    {{ switch.id }} {{ switch.name }}
                </td>
                <td class="button">
                    <input type="submit" id="on" value="ON" name="{{ switch.num }}"/>
                    <input type="submit" id="off" value="OFF" name="{{ switch.num }}"/>
                </td>
            </tr>
        {% endfor %}
    <tr class="spacer"></tr>
    {% endfor %}
    <tr>
         <td class="bulb">
                        <img src="../static/bulb_off.svg"/>
                </td>
                <td class="text">
                   Alles aus
                </td>
                <td class="button">
                    <input style="width: -webkit-fill-available !important;margin-left: 20px !important;margin-right: 20px !important;" type="submit" id="off" value="KILL" name="OFF">

                </td>
     </tr>
    </table>
</form>
</html>